body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f6f6f6;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.container {
  background-color: #ffffff;
  padding: 32px;
  max-width: 80vw;
  width: 100%;
  text-align: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fortune_message {
  margin-top: 24px;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.fortune_message.show {
  opacity: 1;
}

.fortune_cookie {
  width: 30vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;

  model-viewer{
    width: 1;
    height:1000px;
  }
}

.fortune_cookie.clicked {
  transform: scale(0.95);
}

@keyframes squish {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.fortune_cookie.squish {
  animation: squish 0.3s ease;
}
